.wrapper {
  margin: 0 auto;
  width: 1140px;
}
a {
  text-decoration: none;
  color: #070157;
  transition: 0.5s ease;
}
.clear {
  clear: both;
}
.alignright {
  float: right;
  margin-left: 15px;
  margin-bottom: 10px;
}
.alignleft {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}
strong {
  font-weight: 600;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
}
.bg {
  background: url("../images/bg.jpg") no-repeat;
  background-size: cover;
  /* background-size: 100% auto; */
  width: 100%;
  height: 100vh;
  position: relative;
}

.icon {
  background: rgb(241, 235, 241) url("../images/icon-tick.png") no-repeat;
  height: 20px;
  width: 20px;
  display: inline-block;
  /* Other styles here */
}

.car {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 770px;

  position: fixed;
  top: 29%;
  left: 50%;
  /* margin-top: -50px; */
  /* margin-left: -100px; */
  /* margin-top: -50px; */
  /* margin-left: -100px; */
  transform: translate(-50%, -50%);
}
.car img {
  width: 100%;
}

.bottom-nav {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  width: 600px;
  margin: 0 auto;
}
.bottom-nav button {
  padding: 10px 30px;
  background: rgba(26, 24, 24, 0.8);
  border-radius: 7px;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.bottom-nav button:hover {
  background: rgba(227, 0, 29, 1);
  color: #fff;
}
.bottom-nav .left {
  float: left;
}
.bottom-nav .right {
  float: right;
}
nav {
  position: absolute;
  left: 21%;
  top: -6px;
}
nav ul li {
  position: relative;
  float: left;
  margin-right: 10px;
}
nav ul li a {
  background: #383738 url("../images/icon1.png") no-repeat center center;
  font-size: 0;
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
}
nav ul li a:hover {
  background: #fff url("../images/icon1-hover.png") no-repeat center center;
}
nav ul li:nth-child(2n) a {
  background: #383738 url("../images/icon2.png") no-repeat center center;
}
nav ul li:nth-child(2n) a:hover {
  background: #fff url("../images/icon2-hover.png") no-repeat center center;
}
nav ul li:nth-child(3n) a {
  background: #383738 url("../images/icon3.png") no-repeat center center;
}
nav ul li:nth-child(3n) a:hover {
  background: #fff url("../images/icon3-hover.png") no-repeat center center;
}
nav ul li:nth-child(4n) a {
  background: #383738 url("../images/icon4.png") no-repeat center center;
}
nav ul li:nth-child(4n) a:hover {
  background: #fff url("../images/icon4-hover.png") no-repeat center center;
}
nav ul li:nth-child(5n) a {
  background: #383738 url("../images/icon5.png") no-repeat center center;
}
nav ul li:nth-child(5n) a:hover {
  background: #fff url("../images/icon5-hover.png") no-repeat center center;
}
nav ul li:nth-child(6n) a {
  background: #383738 url("../images/icon6.png") no-repeat center center;
}
nav ul li:nth-child(6n) a:hover {
  background: #fff url("../images/icon6-hover.png") no-repeat center center;
}
nav ul li:hover .sub-menu {
  display: block;
}
.sub-menu {
  display: none;
  position: absolute;
  top: -70px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.8);
  width: auto;
  text-align: center;
  border-radius: 10px;
  left: -30px;
  white-space: nowrap;
}
nav ul li ul::before {
  content: " ";
  background: url("../images/arrow.png") no-repeat;
  position: absolute;
  top: 46px;
  width: 27px;
  height: 25px;
  left: 40px;
}
.sub-menu ul li {
  display: inline-block;
  float: none;
  margin-right: 0;
}
.sub-menu ul li:after {
  content: "|";
  color: #717070;
  padding: 0 10px;
}
.sub-menu ul li:last-child:after {
  content: "";
  padding: 0;
}
.sub-menu ul li a {
  font-size: 15px;
  color: #717070;
  width: auto;
  height: auto;
  background: none !important;
  display: inline-block;
}
.sub-menu ul li a:hover {
  color: #e3001d;
  background: none !important;
}

.slider input {
  display: block;
  margin: 0 auto;
}

input[type="range"] {
  height: 0;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 50%;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  background-color: transparent;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071a9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #3071a9;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071a9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  /* background: #ffffff; */
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #3071a9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  /* background: #ffffff; */
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type="range"]:focus::-ms-fill-upper {
  /* background: #3071a9; */
}

@media only screen and (min-width: 1400px) and (max-width: 3000px) {
  .car {
    top: 33%;
  }
}
